* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #89a6fb;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#value {
  display: flex;
  justify-content: center;
  padding-top: 0%;
}
.container {
  background-color: #465775;
  margin-top: 18%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 25%;
  margin-left: 37%;
  border-radius: 8%;
}
button {
  border: none;
  width: 5rem;
  height: 2rem;
  border-radius: 2rem;
  cursor: pointer;
}
button:hover {
  background-color: #3977e2;
  border-radius: 0%;
  transition: 0.5s;
}
